<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - TaskFlow</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>

<div class="form-container">
    <div class="form-card">
        <h2>Create Account</h2>
        <form>
            <input type="text" name="name" placeholder="Username" id="name" required>
            <input type="email" name="email" placeholder="Email Address" id="email" required>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" required>
        </form>
        <p id="error-handler"></p>
        <button type="button" class="btn primary full" onclick="signup()">Create Account</button>
        <p class="switch-text">
            Already have an account?
            <a href="/login">Login</a>
        </p>
    </div>
</div>

<script>
    async function signup() {
        const username = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm_password').value;
        const error_handler = document.getElementById('error-handler');

        const res = await fetch('/auth/signup', {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                username,
                email,
                password,
                confirmPassword,
            })
        });

        const data = await res.json();
        if (data.redirect) {
            window.location.href = data.redirect;
        } else if(data.error) {
            error_handler.innerHTML=`${data.error}`;
        };
    }
</script>
</body>
</html>