.app{
display:flex;
height:100vh;
}

/* Sidebar */

.sidebar{

width:240px;
background:#ffffff;

display:flex;
flex-direction:column;
padding:30px;

box-shadow:2px 0 20px rgba(0,0,0,0.05);

}

.logo{
color:#4e73df;
margin-bottom:40px;
}

.sidebar nav{
display:flex;
flex-direction:column;
gap:15px;
}

.sidebar nav a{
text-decoration:none;
color:#555;
font-weight:500;
cursor:pointer;
}

.sidebar nav a.active{
color:#4e73df;
font-weight:700;
}

.create-btn{

margin-top:auto;

padding:12px;
border:none;
border-radius:8px;

background:linear-gradient(135deg,#4e73df,#1cc88a);
color:white;

font-weight:600;
cursor:pointer;

}

/* Main */

.main{

flex:1;
padding:40px;

background:#f5f7fb;

}

/* Topbar */

.topbar{
display:grid;
justify-content:space-between;
align-items:center;
}

.search{

padding:10px;
border-radius:8px;
border:1px solid #ddd;
width:300px; 
margin-right: 35px;

}

/* Stats */

.stats{

display:flex;
gap:20px;
margin-bottom:40px;

}

.stat-card{

background:white;
padding:20px;

border-radius:12px;
width:150px;

box-shadow:0 10px 20px rgba(0,0,0,0.05);

}

/* Tasks */

.tasks h2{
margin-bottom:20px;
}

.task-grid{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;

}

.task-card{

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 10px 20px rgba(0,0,0,0.05);

}

.task-header{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.priority{

padding:4px 10px;
border-radius:20px;
font-size:12px;

}


.priority.Low{
background:#b1f3d4;
color:#1cc88a;
height: 20px;
}

.priority.High{
background:#ffe3e3;
color:#e03131;
height: 20px;
}

.priority.Medium{
background:#fff3bf;
color:#f08c00;
height: 20px;
}

.task-footer{

margin-top:20px;

display:flex;
justify-content:space-between;
align-items:center;

}

.actions button{

border:none;
background:#4e73df;
color:white;

padding:6px 10px;
border-radius:6px;

cursor:pointer;

}

.delete{
background:#e03131;
}
.user-area{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:20px;

}

.user-info h1{
font-size:24px;
}

.username{
color:#777;
font-size:14px;
}

.avatar{

width:50px;
height:50px;

border-radius:50%;

}

/* Search + Sort */

.task-controls{

display:flex;
gap:15px;
margin-bottom:40px;

}

.sort{

padding:10px;
border-radius:8px;
border:1px solid #ddd;

}

/* Sections */

.section-desc{

color:#888;
font-size:14px;
margin-bottom:10px;

}

/* Progress Bar */

.progress{

width:100%;
height:8px;

background:#eee;

border-radius:20px;
margin-top:15px;

}

.progress-bar{

height:100%;

background:linear-gradient(135deg,#4e73df,#1cc88a);

border-radius:20px;

}

/* Team avatars */

.team{

display:flex;
gap:5px;

}

.team img{

width:28px;
height:28px;
border-radius:50%;

border:2px solid white;

}