form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form input {
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: 0.3s;
}

form input:focus {
    border-color: #4e73df;
    outline: none;
    box-shadow: 0 0 5px rgba(78,115,223,0.3);
}

.btn {
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.btn.primary {
    background: #4e73df;
    color: white;
}

.btn.primary:hover {
    background: #2e59d9;
}

.btn.secondary {
    background: #858796;
    color: white;
}

.btn.secondary:hover {
    background: #6c757d;
}

.full {
    width: 100%;
}

.switch-text {
    margin-top: 20px;
    font-size: 14px;
}

.switch-text a {
    color: #4e73df;
    text-decoration: none;
    font-weight: 600;
}

textarea{
    padding:12px;
    border-radius:8px;
    border:1px solid #ddd;
    margin:10px 0;
    resize:vertical;
    min-height:80px;
    font-size:14px;
}

/* Labels */
label{
    text-align: left;
    font-size:13px;
    color:#555;
    margin-top:10px;
}

/* Date group */
.date-group{
    display: flex;
    gap:15px;
}

.date-group div{
    display: grid;
}


/* Priority */
.priority-select{
text-align:left;
margin-bottom: 15px;
}

.priority-options{
display:flex;
gap:10px;
}

/* Hide radio buttons */
.priority-options input{
display:none;
}

/* Base style */
.priority{

padding:10px 16px;
border-radius:20px;

font-size:14px;
font-weight:600;

cursor:pointer;

border:2px solid transparent;

transition:0.3s;

}

/* Default (unselected) */
.priority.low{
background:#e6f9f0;
color:#1cc88a;
}

.priority.medium{
background:#fff8e1;
color:#f0a500
}

.priority.high{
background:#ffe6e6;
color:#e03131;
}

/* SELECTED STATES */

#low:checked + .low{
background:#1cc88a;
color:white;
box-shadow:0 0 10px rgba(28,200,138,0.5);
}

#medium:checked + .medium{
background:#f0a500;
color:white;
box-shadow:0 0 10px rgba(240,165,0,0.5);
}

#high:checked + .high{
background:#e03131;
color:white;
box-shadow:0 0 10px rgba(224,49,49,0.5);
}