.tickets-main {
    flex: 1;
    padding: 30px;
    background: #f5f7fb;
    overflow-y: auto;
    width: 500px;
}

/* Header */

.tickets-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.tickets-header h1 {
    font-size: 28px;
    font-weight: 700;
}

.tickets-header p {
    color: #777;
    margin-top: 5px;
}

.tickets-header button {
    background: #4e73df;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.tickets-header button:hover {
    background: #355ccc;
}

/* Search */

.tickets-search {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.tickets-search input,
.tickets-search select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: white;
    outline: none;

}

.tickets-search input {
    flex: 1;

}

/* Tickets */

.tickets-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Card */

.ticket-card {
    background: white;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.04);
    transition: 0.2s;
    border-left: 5px solid #8f8a8a;
    width: 440px;
}

.ticket-card:hover {
    transform: translateY(-2px);
}

/* Priority border */

.ticket-card.High {
    border-left: 5px solid #e74a3b;
}

.ticket-card.Medium {
    border-left: 5px solid #f6c23e;
}

.ticket-card.Low {
    border-left: 5px solid #1cc88a;
}

.ticket-card.Closed {
    border-left: 5px solid #8f8a8a;
}

.ticket-card.Resolved {
    border-left: 5px solid #01a031;
}

.ticket-card.Snoozed {
    border-left: 5px solid #4873ff;
}

/* Top */

.ticket-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-top h3 {
    font-size: 18px;
}

.ticket-top span {
    color: #999;
    font-size: 13px;
}

/* Status */

.ticket-status {
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
}

.ticket-status.Open {
    background: rgba(246,194,62,0.15);
    color: #c28b00;
}

.ticket-status.Snoozed {
    background: #4873ff38;
    color: #4873ff;
}

.ticket-status.Resolved {
    background: rgba(28,200,138,0.15); 
    color: #1cc88a;
}

.ticket-status.Closed {
    background: #8f8a8a28;
    color: #8f8a8a;
}

.ticket-status.In.progress {
    background: #8f8a8a28;
    color: #8f8a8a;
}

/* Message */

.ticket-message {
    margin: 18px 0;
    color: #555;
    line-height: 1.5;
}

/* Footer */

.ticket-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* User */

.ticket-user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.ticket-user img {
    border-radius: 50%;
}

.ticket-user p {
    font-weight: 600;
}

.ticket-user span {
    font-size: 12px;
    color: #888;
}

/* Priority */

.ticket-priority {
    font-size: 13px;
    font-weight: 600;
    color: #666;
}